Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.sub
configure
data/Makefile.in
data/help/Makefile.in
depcomp
install-sh
intltool-extract.in
intltool-merge.in
intltool-update.in
ltmain.sh
mappero.pro.user
missing
mkinstalldirs
po/Makefile.in.in
src/Makefile.in
config.log
libtool
Makefile
config.status
data/Makefile
data/help/Makefile
po/Makefile
po/POTFILES
po/bg_BG.gmo
po/de_DE.gmo
po/en_GB.gmo
po/en_US.gmo
po/es_ES.gmo
po/fi_FI.gmo
po/it_IT.gmo
po/nl_NL.gmo
po/ru_RU.gmo
po/stamp-it
po/sv_SE.gmo
src/.deps/
src/Makefile
src/stamp-h1
configure-stamp
build-stamp
data/help
debian/files
debian/maemo-mapper.substvars
debian/maemo-mapper/
*.la
*.lo
*.loT
*.o
*~
.deps
.libs
config.h*
stamp*
*marshal.*
*.swp
mappero/mappero.pc
