#!/usr/bin/make -f
# -*- makefile -*-

export DH_VERBOSE=1

export DH_OPTIONS

override_dh_auto_configure:
	# first, build QtDesktopComponents
	rm -rf qtdesktopcomponents
	tar xvjf debian/qtdesktopcomponents.tar.bz2
	QT_SELECT=qt4 qmake \
		PREFIX="/opt/mappero" \
		INSTALL_IMPORTS="/opt/mappero/bin" \
		"QMAKE_CXXFLAGS=$(CFLAGS)" \
	   	mappero.pro

override_dh_auto_test:
	true

override_dh_install:
	# We install only mappero geotagger
	rm -f debian/mappero-geotagger/usr/share/applications/mappero.desktop
	dh_install

%:
	dh $@
