Source: mappero
Section: user/hidden
Priority: optional
Maintainer: Alberto Mardegan <mardy@unknown>
Build-Depends: debhelper (>= 5), libqt4-dev
Standards-Version: 3.7.3
Homepage: <insert the upstream URL, if relevant>

Package: mappero
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
         qtquickcompat
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
XB-Maemo-Display-Name: mappero
